<div class="col-md-3">
  <div id="magic">
    <h4 class="titulo">U-finder Score</h4>
    <%= render 'universities/unive_score' %>
  </div>
  <div class="hidden-sm hidden-xs">
  <%= render 'universities/magic' %>
  </div>
</div>