/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "toastr";

@font-face{
font-family:"Gotham";
  src:asset-url("GothamHTF-Medium.otf") format("opentype");
font-family:"Gotham_thin";
  src:asset-url("GothamHTF-Thin.otf") format("opentype");
font-family:"Gotham_bold";
  src:asset-url("GothamHTF-Bold.otf") format("opentype");
}

$light_grey: #F9F9FA;
$grey: #f1f4f9;
$dark_grey: #3c3c3c;
$red: #FC5185;
$blue: #3FC1C9;

body {
margin-top: 80px;
-webkit-font-smoothing: antialiased;
background-color: #f2f2f2;
color: #515151;
}     

h1, h2, h3, h4, h5, h6 {    
  color: #4d545d;
  font-family: 'Gotham', sans-serif !important;
}

p, a {
  font-family: 'Gotham_thin', sans-serif !important;
  color: #919499;
}

  a {
    &:hover {
      text-decoration: none;
      background-color: transparent;
      color: $red;
    }
  }