/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "toastr";

@font-face{
font-family:"Gotham";
  src:asset-url("GothamHTF-Medium.otf") format("opentype");
font-family:"Gotham_thin";
  src:asset-url("GothamHTF-Thin.otf") format("opentype");
font-family:"Gotham_bold";
  src:asset-url("GothamHTF-Bold.otf") format("opentype");
}

$light_grey: #F9F9FA;
$grey: #f2f2f2;
$dark_grey: #3c3c3c;
$red: #11AFD3;
$blue: #f95496;

body {
-webkit-font-smoothing: antialiased;
background-color: #f2f2f2;
color: #052D49;
text-rendering: optimizeLegibility;
}     

h1, h2, h3, h4, h5, h6 {    
  color: #4d545d;
  font-family: 'Gotham', sans-serif !important;
}

p, a {
  font-family: 'Gotham_thin', sans-serif !important;
  color: #919499;
}

  a {
    &:hover {
      text-decoration: none;
      background-color: transparent;
      color: $red;
    }
  }

#map {
width: 100%;
height: 200px;
margin-bottom: 20px;
}

#map2 {
width: 100%;
height: 200px;
margin-bottom: 20px;
}

#my_search {
  label {
    cursor:pointer;
  }
  input:checked ~ label {
   background-color: #067892;
   border-color: #067892;
   color: white;
 }
}

.button {
  transition: background-color .15s linear;
  font-size: 13px;
  min-width: 80px;
  font-family: 'Gotham_bold', sans-serif !important;
  border-radius: 2px;
  padding: 5px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  margin-top: 1rem;
  background-color: transparent;
}

.button_red {
  color: $red;
  background-color: $grey;
  border: solid 1.2px $red;
  &:hover {
    color: white;
    background-color: $red;
  }

  &:hover > a {
  color: white;
  background-color: $red;
  }

}


.button_blue {
  color: white;
  background-color: $blue;
  height: 40px;
  border: solid 1.2px white;
  font-size: 18px;
  &:hover {
    color: $blue;
    background-color: white;
    border: solid 1.2px $blue;
  }

  &:hover > a {
  color: white;
  background-color: $blue;
  }

}

.button_block {
  display: block;
  margin: 0 auto;
  width: 100%;
  margin-top: 2rem;
  font-weight: 700;
}
.center {
  text-align: center;
}

#navi {
  li {
    float: right;
    display: inline;
    margin-right: 30px;
  }
}

#inicio {
  text-align: center;
}

#cuadro {
  background-color: white;
  border: solid 1px #e2e8ea;
  -webkit-box-shadow: 6px 6px 2px rgba(46,133,155,0.04);
  box-shadow: 6px 6px 2px rgba(46,133,155,0.04);
  padding: 20px;
  margin: 20px 0;

input[type="search"], select {
  width: 100%;
  height: 3.5rem;
  border:none;
  border:1.3px solid $red;
  padding-left: 10px;
  margin-bottom: 1rem;
  background-color: white !important;
  }

  i {
    position: absolute;
    right: 20px;
    top: 5px;
    color: $red;
  }

}

.botones {
  transition: background-color .15s linear;
  font-size: 12px;
  font-family: 'Gotham_bold', sans-serif !important;
  border-radius: 2px;
  padding: 5px;
  width: 100%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  margin-top: 1rem;
  background-color: transparent;
  margin-bottom: 5px;
}

#magic_card {
  background-color: white;
  padding: 20px;
  border: solid 1px #e2e8ea;
  -webkit-box-shadow: 6px 6px 2px rgba(46,133,155,0.04);
  box-shadow: 6px 6px 2px rgba(46,133,155,0.04);
  margin-bottom: 20px;
  height: 370px;
  .imagen {
  height:100px;
  line-height:100px;
  overflow:hidden;
  text-align:center;
  width:100%;
  img {
    margin:-100%
  }
  }
  h3 {
    text-align: center;
    font-weight: 900;
  }
  h2 {
    position: absolute;
    top: 0px;
    font-size: 20px;
  }
  .izq {
    position: absolute;
  }
  .der {
    display: inline;
    float: right;
    i {
      size: 5px;
    }
  }
}

  .titulo {
    margin-top: 0px;
    border-bottom: 1px solid #E8E8E8;
    border-top: 1px solid #E8E8E8;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    padding-left: 8px;
    line-height: 19px;
    height: 41px;
    padding-top: 10px;
    color: #4f4f4f;
    a {
      color: $blue;
      span {
        font-size: 21px;
      }
    }
  }

  @media (max-width: 800px)
{

#banner {
background-attachment: unset;
}
}

#banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  /*margin-bottom: 1rem;*/
  background-attachment: fixed;
  background-blend-mode: multiply;
  background-color: #989898;
  padding: 30px;

  h1 {
    color: white;
    text-transform: uppercase;
  }
}

.white {
  color: white;
}

#magic {
  background-color: white;
  padding: 20px;
  border: solid 1px #e2e8ea;
  -webkit-box-shadow: 6px 6px 2px rgba(46,133,155,0.04);
  box-shadow: 6px 6px 2px rgba(46,133,155,0.04);
  margin-bottom: 20px;
  p {
    margin-bottom: 40px;
  }
  h5 {
    color: #919499;
    span {
      margin-right: 5px;
    }
  }
}

.cover_home {
  background-image: image-url("innova_cover.jpg");
  height: 40vh;
}

.modal-content {
  h4 {
    text-align: center;
  }
  label {
    margin-top: 0px;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    padding-left: 8px;
    line-height: 19px;
    height: 41px;
    padding-top: 10px;
    color: #4f4f4f;
  }

  input[type="number"], select {
  width: 50%;
  height: 3.5rem;
  border:none;
  border-bottom:1.3px solid $red;
  padding-left: 10px;
  margin-bottom: 1rem;
  background-color: white !important;
  }

}

.face {
    color: #3b5998;
    text-align: center;
    vertical-align: middle;
    &:hover {
    color: white;
    }
  }
    .twitter {
    color: #55acee;
    text-align: center;
    vertical-align: middle;
    &:hover {
    color: white;
    }
  }
    .insta {
    color: #e95950;
    text-align: center;
    vertical-align: middle;
    &:hover {
    color: white;
    }
  }
    .you {
    color: #bb0000;
    text-align: center;
    vertical-align: middle;
    &:hover {
    color: white;
    }
  }

  #bread {
    background-color: white;
    text-align: center;
    padding: 20px;
  border: solid 1px #e2e8ea;
  -webkit-box-shadow: 6px 6px 2px rgba(46,133,155,0.04);
  box-shadow: 6px 6px 2px rgba(46,133,155,0.04);
  margin-bottom: 30px;
  ul {
    list-style: none;
    li {
      display: inline;
      margin: 0 15px;
      padding: 10px;
    }
    a {
        margin: 0 15px;
      }
  }
  }

  .active {
  color: $red;
  background-color: white;
  border-bottom: solid 1.5px $red;
  padding: 10px;
  a {
    color: $red;
  }
}

#cudrado {
  
  border: solid 2px $red;
  padding: 10px 20px;
  height: 270px;
  margin-bottom: 20px;
  h3 {
    text-transform: uppercase;
    font-size: 15px;
    color: $blue;
    font-weight: 900;
  }

.izq {
    position: absolute;
  }
  .der {
    display: inline;
    float: right;
  }

}

.center {
  text-align: center;
}

.upper {
  text-transform: uppercase;
}

.pencil {
  margin: 5px;
  background-color: white;
  border: solid 2px $red;
  border-radius: 50%;
  &:hover  {
    color:white;
    background-color: $red;
  }
  span {
    color: $red;
  }
}

.vote {
  margin: 5px;
  background-color: $red;
  border: solid 2px white;
  &:hover   {
    color:$blue;
    background-color: white;
    border: solid 2px $red;
    span {
      color: $red;
    }
  }
  span {
    color: white;
  }
}

.grande {
  color: $blue;
}

#circle {
  .avatar {
  text-align: center;
}
}

#formario {
  margin: 2rem 0;
  background-color: white;
  box-shadow: 0 2px 2px 0 $red, 0 3px 1px -2px$red, 0 1px 5px 0 $red;
  padding: 3rem 3rem 0;
      border-radius: 11px;
      border: solid 1px #e2e8ea;
      -webkit-box-shadow: 6px 6px 2px rgba(46,133,155,0.04);
      box-shadow: 6px 6px 2px rgba(46,133,155,0.04);

h2, h1 {
  text-align: center;
  color: white;
  width: 100%;
  font-size: 100%;
  font-weight: 900;
  text-transform: uppercase;
  background-color: $red;
  padding: 20px 0;
  a {
    color: white;
  }
}

input[type="date"],input[type="name"], input[type="email"], input[type="textbox"], input[type="number"], input[type="tel"], input[type="text"], input[type="password"], textarea, select {
  width: 100%;
  height: 3.5rem;
  border:none;
  border-bottom:1.3px solid #dadada;
  margin-bottom: 1.5rem;
  background-color: white !important;
  }
  textarea {
    height: 20rem !important;
  }
  label {
  margin-top: 1rem;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  color: #dadada;
  font-family: 'Gotham_bold', sans-serif !important;
}
}

.strike {
  text-decoration: line-through
}

